<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">Admin</span> </a></div>
                   <div class="card mb-3">
                      <div class="card-body">
                         <div class="pt-4 pb-2">
                            <h5 class="card-title text-center pb-0 fs-4">Update category</h5>
                         </div>
                         <mat-card class="row g-4 needs-validation">
                            <mat-card-content class="card-body">
                               <form id="formData" *ngIf="!isSuccessful" #categoryDetails="ngForm" (ngSubmit)="EditCategory(updateCategoryForm.id ,updateCategoryForm)">
                                  <div class="col-12">
                                     <mat-input-container class="input-group has-validation" >
                                        <input matInput placeholder="Name" type="text" [(ngModel)]="updateCategoryForm.name" name="name" #name="ngModel">
                                     </mat-input-container>
                                  </div>
                                     <br>
                                  <div class="col-12"> 
                                        <button class="btn btn-primary w-100" type="submit" matButton>Update</button>
                                  </div>
                                  <div class="alert alert-warning" *ngIf="isSignUpFailed">
                                        Update is failed!<br />
                                  </div>
                               </form>
                               <div class="alert alert-success" *ngIf="isSuccessful">
                                  Category updated successfully!
                               </div>
                               <br>
                               <button type="button" class="btn btn-dark  w-100" matButton  routerLink="/categories">Go Back</button>
                            </mat-card-content>
                         </mat-card>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>