<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-heading">Pages</li>
       <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/categories"> <i class="bi bi-list-check"></i> <span>Categories</span> </a></li> 
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/dashboard"> <i class="bi bi-cup"></i> <span>Products</span> </a></li> 
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/users"> <i class="bi bi-person"></i> <span>Users</span> </a></li> 
       <li class="nav-item"> <a class="nav-link collapsed" routerLink="/dashboard"> <i class="bi bi-basket"></i> <span>Orders</span> </a></li> 
     </ul>
 </aside>